.board td {
    height: 30px;
    width: 30px;
    background-color: #66cbf6;
    border: solid #FFFFFF 1px;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    cursor: pointer;
}

.board td:hover {
    opacity: 0.7;
}

td.ship {
    background-color: green;
}

td.hit {
    background-color: orange;
}

td.sink {
    background-color: red;
}

body{
    height: 100%;
    background: url("/images/tile.png") repeat;
}

#board-container {
    padding: 50px;
    background-color: #FCEFB2;
    border-radius: 8px;
    -webkit-box-shadow: -7px 8px 0px 1px rgba(199,116,72,1);
    -moz-box-shadow: -7px 8px 0px 1px rgba(199,116,72,1);
    box-shadow: -7px 8px 0px 1px rgba(199,116,72,1);
}

/*shadow c77448*/