<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>
  <%= javascript_include_tag '/assets/application' %>
  <%= stylesheet_link_tag '/assets/application' %>
</head>
<body>

<div ng-app="batalla2" ng-controller="boardCtrl">


</div>

</body>
</html>