<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>
  <%= javascript_include_tag '/assets/application' %>
  <%= stylesheet_link_tag '/assets/application' %>
</head>
<body>

<div ng-app="batalla2" ng-controller="boardCtrl">

  <table class="board">
    <tr ng-repeat="row in rows()">
      <td ng-repeat="column in columns()" ng-click="cellClicked(column,row)">({{column}},{{row}})</td>
    </tr>
  </table>

  <select ng-model="action" convert-to-number>
    <option value="shoot">Shoot</option>
    <option value="small_ship">New Small Ship</option>
    <option value="long_ship">New Large Ship</option>
  </select>
</div>

</body>
</html>